<ng-container *ngIf="matchType === 5">
  <div class="five-vs-five">
    <div [class]="'team team--team1-form-' + formationTeamOne">
      <div
        *ngFor="let player of teamOne"
        [class]="'team__player team__player--t1-' + player.mainPosition"
      >
        <img [src]="'assets/messi.png'" />
      </div>
    </div>
    <div [class]="'team team--team2-form-' + formationTeamTwo">
      <div
        *ngFor="let player of teamTwo"
        [class]="'team__player team__player--t2-' + player.mainPosition"
      >
        <img [src]="'assets/messi.png'" />
      </div>
    </div>
  </div>
</ng-container>
