.five-vs-five{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  position: absolute;
    top: -1;
    left: 0;
    right: 0;
    bottom: 0;
   
}

.team{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  &--team1-form-1{
    grid-template-areas: 
    ". . . . . . . . ."
    ". . . . t1-gk . . . ."
    ". . . . . . . . ."
    ". . t1-def1 . . . t1-def2 . ."
    ". . . . . . . . ."
    ". . . . t1-med1 . . . ."
    ". . . . . . . . ."
    ". . . . t1-del1 . . . ."
    ". . . . . . . . ."
    ;
  }
  &--team1-form-2{
    grid-template-areas: 
    ". . . . . . . . ."
    ". . . . t1-gk . . . ."
    ". . . . . . . . ."
    ". . t1-def1 . . . t1-def2 . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . t1-med1 . . . t1-del1 . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ;
  }
  &--team1-form-3{
    grid-template-areas: 
    ". . . . . . . . ."
    ". . . . t1-gk . . . ."
    ". . . . . . . . ."
    ". . . . t1-def1 . . . ."
    ". . . . . . . . ."
    ". . t1-def2 . . . t1-med1 . ."
    ". . . . . . . . ."
    ". . . . t1-del1 . . . ."
    ". . . . . . . . ."
    ;
  }
  &--team2-form-1{
    grid-template-areas: 
    ". . . . . . . . ."
    ". . . . t2-del1 . . . ."
    ". . . . . . . . ."
    ". . . . t2-med1 . . . ."
    ". . . . . . . . ."
    ". . t2-def1 . . . t2-def2 . ."
    ". . . . . . . . ."
    ". . . . t2-gk . . . ."
    ". . . . . . . . ."
    ;
  }
  &--team2-form-2{
    grid-template-areas: 
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . t2-med1  . . . t2-del1 . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . t2-def1 . . . t2-def2 . ."
    ". . . . . . . . ."
    ". . . . t2-gk . . . ."
    ". . . . . . . . ."
    ;
  }
  &--team2-form-3{
    grid-template-areas: 
    ". . . . . . . . ."
    ". . . . t2-del1 . . . ."
    ". . . . . . . . ."
    ". . t2-med1 . . . t2-def2 . ."
    ". . . . . . . . ."
    ". . . . t2-def1 . . . ."
    ". . . . . . . . ."
    ". . . . t2-gk . . . ."
    ". . . . . . . . ."
    ;
  }
  &__player{
    width: 100%;
    height: 100%;
    max-width: 46px;
    max-height: 31px;
    object-fit: cover;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    background-color: #3a7ae05d;
    &--t1-gk{
      grid-area: t1-gk;
    }
    &--t1-def-1{
      grid-area: t1-def1;
    }
    &--t1-def-2{
      grid-area: t1-def2;
    }
    &--t1-med-1{
      grid-area: t1-med1;
    }
    &--t1-del-1{
      grid-area: t1-del1;
    }

    &--t2-gk{
      grid-area: t2-gk;
    }
    &--t2-def-1{
      grid-area: t2-def1;
    }
    &--t2-def-2{
      grid-area: t2-def2;
    }
    &--t2-med-1{
      grid-area: t2-med1;
    }
    &--t2-del-1{
      grid-area: t2-del1;
    }
  } 
}
