<app-header-toolbar></app-header-toolbar>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top" >
      <ion-tab-button tab="start" data-tab-id="1"  >
        <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
        <ion-label> {{'tabs.news' | translate}} </ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="record" >
        <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
        <ion-label> {{'tabs.records' | translate}} </ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="chat" >
        <ion-icon aria-hidden="true" name="chatbox-ellipses-outline"></ion-icon>
        <ion-label> {{ 'tabs.chat' | translate }} </ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="players" >
        <ion-icon  aria-hidden="true" name="people-outline"></ion-icon>
        <ion-label> {{ 'tabs.players' | translate }} </ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="match">
        <ion-icon aria-hidden="true" name="football-outline"></ion-icon>
        <ion-label> {{ 'tabs.matches' | translate }} </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>
