

<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button menu="menu"></ion-menu-button>
      <!-- <ion-button (click)="showMenu()" expand="block" fill="clear" shape="round">
        Click me
      </ion-button> -->
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button color="socndary">
          <ion-icon slot="icon-only" name="star-outline"></ion-icon>
        </ion-button>
      <ion-button color="socndary" (click)="showMenu2()">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-avatar class="avatar" slot="end">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

