

<ion-header  class="ion-no-border" >
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start" >
      <ion-menu-button menu="menu" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button color="socndary" color="light">
          <ion-icon slot="icon-only" name="star-outline"></ion-icon>
        </ion-button>
      <ion-button color="socndary" (click)="showMenu2()" color="light">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-avatar class="avatar" slot="end">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

