<app-modal-header
  [headerLabel]="'Crear Grupo'"
  [fn]="CloseModal"
></app-modal-header>
<ion-content>
  <form [formGroup]="formRegisterGroup">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="4">
          <app-upload-image (emitImageSelected)="uploadImage($event)" ></app-upload-image>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <app-input
            [label]="'Nombre de grupo'"
            formControlName="name"
          ></app-input>
        </ion-col>
        <ion-col size="12">
          <ion-list>
            <ion-item>
              <ion-label>Tipo de grupo</ion-label>
              <ion-select interface="popover" formControlName="type">
                <ion-select-option
                  *ngFor="let groupType of groupTypeSelect"
                  [value]="groupType.value"
                >
                  {{ groupType.label | titlecase }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<app-modal-footer [disabled]="formRegisterGroup.invalid" [buttonLabel]="'Guardar'" [fn]="saveGroup" ></app-modal-footer>
