.img-container{
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
    }
}
ion-header {
  --background: rgba(255, 255, 255, 0); // Color de fondo con transparencia
  --color: #000; // Color del texto
}
