<app-header-toolbar [imgUrl]="user()?.photo? user()?.photo :imgUrl" ></app-header-toolbar>
<ion-content>
  <ion-list class="list-message ion-padding" *ngIf="!groupList().length" >
    <app-btn-message [message]=" 'home.noGroups' | translate " ></app-btn-message>
    <app-btn-message [message]=" 'home.noJoinGroups' | translate " ></app-btn-message>
  </ion-list>
  <ion-list *ngIf="groupList().length">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle> {{'home.groupListLabel' | translate}} </ion-card-subtitle>
      </ion-card-header>
      <app-item-group
        *ngFor="let group of groupList()"
        [group]="group"
        [shareGroup]="shareGroup"
        [deleteGoup]="deleteGroup"
        [goToGroup]="goToGroup"
      ></app-item-group>
    </ion-card>
  </ion-list>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="showRegisterGroupModal()" color="secondary"
        ><ion-icon name="add-circle-outline"></ion-icon
      ></ion-fab-button>
      <ion-fab-button (click)="showPopoverJoinGroup()" color="secondary"
        ><ion-icon name="arrow-forward-circle-outline"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
