

.color{
    color: red;
}

app-input-label{
    margin-bottom: 8px;
    padding-left: 5px;
}
.header{
    font-family: 'Inter', sans-serif;
}
.list-message{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

