

.card-list{
    width: 100%;
    min-height: 428px;
    max-height: 428px;
    overflow-y: auto;
}
.calendar-card {
    min-height: 428px;
    max-height: 428px;
    position: relative; /* Asegura que el elemento padre tenga una posición relativa */
    background-image: url('../../../../../assets/fondo-calendario2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.calendar-card::before {
    content: ""; /* Asegura que el pseudo-elemento tenga contenido */
    position: absolute; /* Lo posiciona de manera absoluta sobre el elemento padre */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336); /* Color de fondo oscuro con opacidad del 50% */
    z-index: 1; /* Coloca la capa oscura delante del fondo */
}

:host ::ng-deep .swiper-pagination {
    bottom: 0%;
    .swiper-pagination-bullet {
      --bullet-background: #b6bac1;
      width: 9px;
      height: 9px;
    }
    .swiper-pagination-bullet-active {
      width: 12px;
      height: 12px;
    }
}

.slides{
    height: 480px;
}
.slide{
    flex-direction: column;
    justify-content: flex-start;
}
.label{
    margin: 0;
   padding-top: 10px;
}
.icon-right{
    position: absolute;
    right: 3px;
}
.icon-left{
    position: absolute;
    left: 3px;
}
