
<ion-content>
  <ion-item   lines="none" class="ion-no-padding ion-no-margin">
    <ion-label class="sectionLabel ion-text-center"> {{titleSlides[indesSwiper()] | translate}} </ion-label>
    <ion-icon class="icon-right" *ngIf="indesSwiper() === 0" name="arrow-forward-circle-outline"></ion-icon>
    <ion-icon class="icon-left" *ngIf="indesSwiper() === 1" name="arrow-back-circle-outline"></ion-icon>
  </ion-item>
  <ion-slides (ionSlideDidChange)="slideChanged($event)" class="slides" [pager]="true" >
    <ion-slide class="slide">
      <ion-card class="calendar-card ion-padding">
        <app-match-calendar></app-match-calendar>
      </ion-card>
    </ion-slide>
    <ion-slide class="slide">
      <app-btn-message *ngIf="!historyMatches()?.length" [message]=" 'historyMatch.noMatch' | translate " ></app-btn-message>
    <ion-card class="card-list" *ngIf="historyMatches()?.length">
        <ion-list>
            <ion-item *ngFor="let historyMatch of historyMatches()">
              <ion-label> {{ historyMatch.date | date:"dd/MM/yyyy"}} </ion-label>
            </ion-item>
        </ion-list>
    </ion-card>
  </ion-slide>
  
</ion-slides>
<ion-fab slot="fixed" horizontal="center" vertical="bottom">
  <ion-fab-button (click)="showModalRegisterMatch()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
