
<app-menu contentId="main-content"></app-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title > Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="title"> Tap the button in the toolbar to open the menu. </ion-content>
</div>
<ion-content>
  <app-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button><ion-icon name="logo-ionic"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
      </ion-fab-list>
  </app-fab-button>
  <form [formGroup]="loginForm" >
    <app-input [label]=" 'name' " formControlName="name" >
      
    </app-input>
  </form>
</ion-content>
