

.color{
    color: red;
}

app-input-label{
    margin-bottom: 8px;
    padding-left: 5px;
}
.header{
    font-family: 'Inter', sans-serif;
}

.card-news{
    border-bottom: 1px solid #DADFE9;
}

.no-boxshadow{
    box-shadow: none;
}

.card-content{
    display: flex;
    flex-direction: column;
}

