//fontSize
.fs {
  &-12 {
    font-size: 12px;
  }
  &-14 {
    font-size: 14px;
  }
  &-16 {
    font-size: 16px;
  }
  &-20 {
    font-size: 20px;
  }
  &-24 {
    font-size: 24px;
  }
}
.fw {
  &-400 {
    font-weight: 400;
  }
  &-600 {
    font-weight: 600;
  }
  &-600 {
    font-weight: 600;
  }
  &-900 {
    font-weight: 900;
  }
}
//margin
.mb {
  &-5 {
    margin-bottom: 5px;
  }
  &-8 {
    margin-bottom: 8px;
  }
  &-12 {
    margin-bottom: 12px;
  }
  &-20 {
    margin-bottom: 20px;
  }
}
.mr {
  &-5 {
    margin-right: 5px;
  }
  &-8 {
    margin-right: 8px;
  }
  &-12 {
    margin-right: 12px;
  }
  &-20 {
    margin-right: 20px;
  }
}
.ml {
  &-5 {
    margin-left: 5px;
  }
  &-8 {
    margin-left: 8px;
  }
  &-12 {
    margin-left: 12px;
  }
  &-20 {
    margin-left: 20px;
  }
}
.ml {
  &-5 {
    margin-top: 5px;
  }
  &-8 {
    margin-top: 8px;
  }
  &-12 {
    margin-top: 12px;
  }
  &-20 {
    margin-top: 20px;
  }
}
.pb {
  &-5 {
    padding-bottom: 5px;
  }
  &-8 {
    padding-bottom: 8px;
  }
  &-12 {
    padding-bottom: 12px;
  }
  &-20 {
    padding-bottom: 20px;
  }
}
.pt {
  &-5 {
    padding-top: 5px;
  }
  &-8 {
    padding-top: 8px;
  }
  &-12 {
    padding-top: 12px;
  }
  &-20 {
    padding-top: 20px;
  }
}
.pl {
  &-5 {
    padding-left: 5px;
  }
  &-8 {
    padding-left: 8px;
  }
  &-12 {
    padding-left: 12px;
  }
  &-20 {
    padding-left: 20px;
  }
}
.pr {
  &-5 {
    padding-right: 5px;
  }
  &-8 {
    padding-right: 8px;
  }
  &-12 {
    padding-right: 12px;
  }
  &-20 {
    padding-right: 20px;
  }
}
.color{
    &-label{
       color: #505A78;
    }
    &-title{
       color: #383E52;
    }
    &-error{
        color: #dc3545;
    }
    &-helper{
        color: #505A78;
    }
}

.no-boxshadow{
  box-shadow: none;
}

.flex{
  display: flex;
  &-d-col{
    flex-direction: column;
  }
  &-d-row{
    flex-direction: row;
  }
}

