<ion-app>

  <ion-split-pane when="md" contentId="main">

    <ion-menu side="start" menuId="menu" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menú Principal</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle menu="menu" *ngFor="let c of [1, 2, 3]" autoHide="false">
            <ion-item>
              {{ c }}
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-menu side="end" menuId="menu2" contentId="main">
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title>Notificaciones</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle menu="menu2" *ngFor="let item of [4, 5, 6]" autoHide="false">
            <ion-item>
              {{ item }}
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
