<ion-content>
  <app-select
    (languagesSelected)="languageSelected($event)"
    [languages]="languages"
    [placeholder]=" 'login.selectLanguage' | translate "
  >
    <ion-icon
      class="icon mr-5"
      color="primary"
      name="language-outline"
    ></ion-icon>
  </app-select>
  <form [formGroup]="registerForm">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="4">
          <app-upload-image (emitImageSelected)="uploadImage($event)" ></app-upload-image>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" *ngFor="let input of _inputRegister; let i = index">
          <app-input
            [type]="input.type"
            [formControlName]="input.fcName"
            [label]="input.label | translate"
            (ngModelChange)="onInputChanged(input)"
          >
            <ng-container *ngFor="let error of input.errors">
              <error-msg
                *ngIf="registerForm.get(input.fcName)?.hasError(error.typeError) && registerForm.get(input.fcName)?.touched && input.endDebaunceTime"
                [errorLabel]="error.label | translate"
              ></error-msg>
            </ng-container>
          </app-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="8">
          <app-button
            [fn]="register"
            [color]="_buttonRegister.color"
            [disabled]="registerForm.invalid"
            [expand]="_buttonRegister.expand"
            [label]="_buttonRegister.label | translate"
          ></app-button>
        </ion-col>
        <ion-col size="8">
          <app-button
            [fn]="goToLogin"
            [color]="_buttonLogin.color"
            [expand]="_buttonLogin.expand"
            [label]="_buttonLogin.label | translate"
          ></app-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
