<ion-content>
  <!-- <div class="player-container">
        <app-card-player *ngFor="let player of players()"  [player]="player"></app-card-player>
    </div> -->
  <ion-list *ngIf="players()?.length">
    <ion-list-header>
      <ion-label> {{'players.playerListLabal' | translate }} </ion-label>
    </ion-list-header>
    <ng-container *ngFor="let player of players()">
      <app-item-player
        [deletePlayer]="deletePlayer"
        [sendAdmin]="sendAdmin"
        [setValuePlayer]="setValuePlayer"
        [player]="player"
        [group]="activeGroup()"
        [userId]="user()?.id"
      ></app-item-player>
    </ng-container>
  </ion-list>
</ion-content>
