.player-fab {
    position: relative;
    &__header{
        padding: 5px 25px 0px 25px;
    }
    &__header-label{
        color: #FFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  &__fab{
    position: absolute;
    &--t1{
        top: 26px;
        left: 8px;
    }
    &--t2{
        bottom: 30px;
        right: 8px;
    }
  }
  &__btn-p {
    --background: #3880ff4d;
  }
  &__list {
    row-gap: 10px;
  }
  &__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3880ff4d;
    border-radius: 100%;
    padding: 10px 3px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  }
  
}