

.input{
    border-radius: 6px;
    border: 1px solid #8A95AB;
    --padding-bottom: 12px;
    --padding-top: 12px;
    --padding-start: 12px;
}

.label-stacked.sc-ion-label-md-h{
    margin-bottom: 8px;
    padding-left: 5px;
    color: #8A95AB;
}